* {
    font-family: 'Cairo', sans-serif;
}

body {
    background: url('../images/background.jpg') fixed;
    background-size:cover;
}

.main__logo {
    max-width: 300px;
    width: 80%;
}

h1 {
    color: #000;;
    font-size: 45pt;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
}

    h1 small {
        color: rgba(0,0,0,1);
        font-family: 'Ubuntu', cursive;
        font-size: 8rem;
        background: -webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

h2 {
    margin-top: 0;
    font-size: 45pt;
    font-family: 'Montserrat', sans-serif;
    
    margin-bottom: 30px;
    color:black;
}

h3 {
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    
    line-height: 3rem;
    margin-bottom:50px;
}

h3, h4 {
    line-height: 2rem;
}

p {
    /*font-size: 16pt;*/
    font-size:2rem;
    line-height: 2.8rem;
    color: rgba(0,0,0,0.8);
    font-weight: normal;
}

.btn {
    border-radius: 0;
   /* padding: 20px;
    min-width: 100px;
    font-size: 18pt;*/
}

.action-items .btn {
    min-width: 340px;
    padding: 20px 50px;
    background: none;
    color: White;
    background: black;
    border-color: rgba(0,0,0,0);
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius:50px;
}

    .action-items .btn:hover {
        background-color: #664BBA;
        color: white;
    }

section {
    min-height: 100vh;
}

    section#about {
        background: white no-repeat fixed;
      
       /* background: url('../images/Layer-2.jpg') no-repeat fixed;*/
        background-size: cover;     

    }
    section#about .col-lg-7{
        height:100%;padding-top: 20%;
    }
    section#about *{
       
    }

    section#about .btn{
        min-width:300px;
    }
    section#about p{
        font-size:18pt;
    }

    .social a{

font-size:1.5rem;
    }
    .social .btn-default{
min-width:10px;
        border-radius:50px;
        color:black;
            }


            .cta-box{
                background-color:black;
                /*height:250px;*/
                min-height: 250px;
                padding-top:80px;
                padding-bottom:120px;
            }
            .cta-box *{
color:white;
            }

            .cta-box .btn-default{
                min-width: 340px;
    padding: 20px 50px;
    background: none;
    color: black;
    background: white;
    border-color: rgba(0,0,0,0);
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius:50px;
            }


            .btn-bd-download{
              background:black;
              color:white;
              border-radius:25px;   
              width:160px;
            }

            #imagecontainer{
                height:100%;padding-top:25%;
            }

@media screen and (max-width: 760px) {
    h1 {
        font-size:3rem;
    }
    h3{
        line-height: 3rem;
    }
    h1 small {
        background: none;
        -webkit-background-clip: inherit;
        -webkit-text-fill-color: black;
    }

    section {
        padding-bottom:40px;
    }
    .action-items .btn {
        margin-bottom: 20px;
        background-color: #664BBA;
        color:white;
    }
    section#about {
        background-position: top center;
        padding-top: 20%;
    }
#imagecontainer{
    height:50%;padding-top:0%;
}

}